__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
*.log
logs/
debug.log
models/
*.pt
*.onnx
*.h5

videos/test.mp4
*mp4
!restricted_zones.json
.env
build/
dist/
*.egg-info/
tmp/
*.bak
*.tmp
.ipynb_checkpoints/
